@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
			<div align="center">
				<img src="https://i.chzbgr.com/completestore/12/8/4/0iiNjcrcaESV9KDzKO4xiQ2.jpg"/>
                </div>
        </div>
    </section>
}

